 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.5), rgba(41,45,51,0.5)), url('images/japandi-living-room-interior-design.jpg');
  background-position: 50% 46.62%;
}

.u-section-1 .u-sheet-1 {
  min-height: 420px;
}

.u-section-1 .u-image-1 {
  width: 1121px;
  height: 528px;
  margin: -54px auto -124px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: 443px;
    margin-top: -49px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 10.03%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 339px;
    margin-top: 0;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    height: 258px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 66.41% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-1 .u-image-1 {
    height: 151px;
    margin-top: 23px;
    margin-bottom: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-2 .u-group-1 {
  min-height: 168px;
  height: auto;
  margin: 50px 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px 483px 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 18px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 731px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 615px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 66.43%;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-image-7 {
  width: 73px;
  height: 73px;
  margin: -610px auto 0 10px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 731px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-table-1 {
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-2 .u-table-cell-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-2 {
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-4 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-6 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-7 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-8 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-9 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-10 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-2 .u-table-cell-11 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-12 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}

.u-section-2 .u-table-cell-13 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-14 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-15 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-16 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-17 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-18 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-19 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-20 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-21 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-22 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-23 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-24 {
  text-transform: uppercase;
}

.u-section-2 .u-icon-1 {
  margin-left: 0;
  width: 16px;
  height: 16px;
  font-size: 1.125em;
}

.u-section-2 .u-table-cell-25 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-26 {
  text-transform: uppercase;
}

.u-section-2 .u-icon-2 {
  font-size: 1.125em;
}

.u-section-2 .u-table-cell-27 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-28 {
  text-transform: uppercase;
}

.u-block-5b4d-176 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-2 .u-group-1 {
    min-height: 156px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: auto;
    margin-left: 394px;
    margin-right: 394px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 734px;
  }

  .u-section-2 .u-gallery-1 {
    height: 515px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 73px;
    height: 73px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 73px;
    height: 73px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 73px;
    height: 73px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 73px;
    height: 73px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 73px;
    height: 73px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 73px;
    height: 73px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -515px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 734px;
  }

  .u-section-2 .u-table-cell-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-3 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-4 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-5 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-9 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-10 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-11 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-12 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-13 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-14 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-15 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-16 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-17 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-18 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-19 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-20 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-21 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-22 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-23 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-25 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-table-cell-27 {
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 98px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 727px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 54px;
    height: 54px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 54px;
    height: 54px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 54px;
    height: 54px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 54px;
    height: 54px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 54px;
    height: 54px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 54px;
    height: 54px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 727px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 33px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-2 .u-gallery-1 {
    height: 459px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 100px;
    height: 100px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 100px;
    height: 100px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 100px;
    height: 100px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 100px;
    height: 100px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 100px;
    height: 100px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 100px;
    height: 100px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -291px;
    margin-left: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 731px;
  }

  .u-section-2 .u-table-cell-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-table-cell-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-5 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-9 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-10 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-11 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-12 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-13 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-14 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-15 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-16 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-17 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-18 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-19 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-20 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-21 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-22 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-23 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-25 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-table-cell-27 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-2 .u-group-1 {
    min-height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 71px;
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-2 .u-gallery-1 {
    height: 242px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 53px;
    height: 53px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 53px;
    height: 53px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 53px;
    height: 53px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 53px;
    height: 53px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 53px;
    height: 53px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 53px;
    height: 53px;
  }

  .u-section-2 .u-carousel-control-1 {
    padding: 4px;
  }

  .u-section-2 .u-carousel-control-2 {
    left: auto;
    padding: 4px;
  }

  .u-section-2 .u-image-7 {
    width: 43px;
    height: 43px;
    margin-top: -242px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 15px;
    margin-bottom: -21px;
  }

  .u-section-2 .u-table-cell-1 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-2 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-3 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-4 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-5 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-9 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-10 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-11 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-12 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-13 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-14 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-15 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-16 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-17 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-18 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-19 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-20 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-21 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-22 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-table-cell-23 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-icon-1 {
    font-size: 0.8126em;
  }

  .u-section-2 .u-table-cell-25 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-icon-2 {
    font-size: 0.8126em;
  }

  .u-section-2 .u-table-cell-27 {
    font-size: 0.625rem;
  }
} .u-section-3 {
  background-image: linear-gradient(#696969, #999999);
}

.u-section-3 .u-sheet-1 {
  min-height: 1223px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 29px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 810px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 400;
  text-transform: none;
  margin: 0 30px;
}

.u-section-3 .u-line-1 {
  width: 272px;
  height: 0;
  margin: 51px 388px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 889px;
}

.u-section-3 .u-container-layout-3 {
  padding: 4px 28px;
}

.u-section-3 .u-list-1 {
  width: 501px;
  margin: 17px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 88px;
  grid-gap: 10px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/4Y9C7174-59.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/4Y9C7193-60.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/4Y9C7136-62.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/4Y9C7259.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-image-5 {
  background-image: url("images/4Y9C7227.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-image-6 {
  background-image: url("images/4Y9C7181.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px;
}

.u-section-3 .u-image-7 {
  background-image: url("images/4Y9C7156.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px;
}

.u-section-3 .u-image-8 {
  background-image: url("images/4Y9C7199-55.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-11 {
  padding: 10px;
}

.u-section-3 .u-image-9 {
  background-image: url("images/4Y9C7320-39.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-12 {
  padding: 10px;
}

.u-section-3 .u-image-10 {
  background-image: url("images/4Y9C7141-38.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-13 {
  padding: 10px;
}

.u-section-3 .u-image-11 {
  background-image: url("images/4Y9C7146-36.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-14 {
  padding: 10px;
}

.u-section-3 .u-image-12 {
  background-image: url("images/4Y9C7338-42.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-15 {
  padding: 10px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 400;
  text-transform: none;
  margin: 30px 2px 0;
}

.u-section-3 .u-group-1 {
  min-height: 86px;
  height: auto;
  width: 641px;
  margin: 46px auto 60px;
}

.u-section-3 .u-container-layout-16 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #e8c791, #cbba9d);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  box-shadow: 2px 2px 8px 0px rgba(51,51,51,1);
  font-weight: 400;
  align-self: center;
  margin: 19px auto 0 395px;
  padding: 13px 90px 13px 89px;
}

.u-section-3 .u-btn-2 {
  background-image: linear-gradient(to right, #0f3a42, #18756f);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  box-shadow: 2px 2px 8px 0px rgba(51,51,51,1);
  font-weight: 400;
  margin: -48px auto 1px 0;
  padding: 12px 90px 13px 89px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 848px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-right: 198px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 733px;
  }

  .u-section-3 .u-list-1 {
    width: 413px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 24px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-line-1 {
    margin-right: 88px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    width: 305px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1804px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 803px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 459px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 2.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 2.66667px));
  }

  .u-section-3 .u-group-1 {
    margin-top: 51px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 294px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1592px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 84px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 30px;
    margin-right: 68px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 664px;
  }

  .u-section-3 .u-list-1 {
    width: 320px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-group-1 {
    min-height: 136px;
    margin-top: -22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-right: 79px;
    padding-left: 78px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/4Y9C7144-40.jpg');
}

.u-section-4 .u-sheet-1 {
  min-height: 582px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 482px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-line-1 {
  width: 109px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-4 .u-form-1 {
  height: 303px;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  width: 396px;
  margin: 31px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: linear-gradient(to right, #0f3a42, #18756f);
  font-size: 0.875rem;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 33px 10px 32px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-4 .u-container-layout-2 {
  padding: 34px 29px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 1px;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 18px 3px 0 1px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 31px 1px 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 18px 2px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 18px 2px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 482px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-size: 135%;
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 21px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-4 .u-line-1 {
    position: relative;
  }

  .u-section-4 .u-form-1 {
    width: 316px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-form-1 {
    width: 228px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-size: auto 135%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 26px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 23px 20px 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.5rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 19px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 150px;
  }
} .u-section-5 {
  background-image: linear-gradient(to right, #404040, #808080);
}

.u-section-5 .u-sheet-1 {
  min-height: 98px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 396px;
  margin: 22px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 66.6667px));
  grid-auto-columns: calc(33.3333% - 66.6667px);
  grid-gap: 100px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/card1-28.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/visa1-29.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/paypal-30.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-5 .u-list-1 {
    width: 392px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 45px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 67px;
  }

  .u-section-5 .u-list-1 {
    width: 314px;
    margin-top: 11px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 45.3333px);
    grid-template-columns: repeat(3, calc(33.3333% - 45.3333px));
    min-height: 47px;
    margin-top: 0;
    width: 314px;
    margin-right: auto;
    margin-left: auto;
    grid-gap: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-5 .u-list-1 {
    width: 328px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 66.6667px);
    grid-template-columns: repeat(3, calc(33.3333% - 66.6667px));
    min-height: 37px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-5 .u-list-1 {
    width: 314px;
    margin-top: 6px;
    margin-bottom: 12px;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 0;
  }
}